<div class="row">
    <div class="outls col-3">
        <h3>Szybki Kontakt</h3>
        <div>
            <i class="fa fa-facebook-official fsiz" aria-hidden="true"></i>
        </div>
        <div>
            <i class="fa fa-instagram fsiz" aria-hidden="true"></i>
        </div>
        <div>
            <i class="fa fa-envelope-open fsiz" aria-hidden="true"></i>
        </div>
    </div>
    <div class="col-9">
        
        Lorem ipsum dolor 
        sit amet, consectetur
         adipisicing elit.
          Alias cum dignissimos, ducimus ea esse harum,
        hic impedit ipsum iste 
        laudantium necessitatibus 
        odio perferendis quae quaerat 
        ut veniam voluptate.
         Iure,
         nesciunt?
    </div>
</div>